
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" lang="en">

<head>
<meta charset="utf-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>अधिदान व लेखा कार्यालय,महाराष्ट्र शासन,मुंबई.(P.A.O)</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="/images/favicon.png">
<!-- Custom Stylesheet -->
<link href="/css/style.css" rel="stylesheet">
<link href="/css/css2/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<script src="/js/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>

<body class="h-100" style="background-image: url('../images/pao.jpg');">

	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none"
					stroke-width="3" stroke-miterlimit="10" />
            </svg>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->
	<div class="login-form-bg h-100">
		<div class="container h-100">
			<div class="row justify-content-center h-100">
				<div class="col-xl-6">
					<div class="form-input-content">
						<div class="card login-form mb-0">
							<div class="card-body pt-5">
								<a class="text-center">
									<h4>Login</h4>
								</a>
								<form th:action="@{/app/validate}" th:object="${loginForm}"
									class="mt-5 mb-5 login-input" method="post">
									<div class="form-group">
										<input type="text" name="loginId" th:field="*{loginId}"
											class="form-control" placeholder="Login Id" />
									</div>
									<div class="form-group">
										<select class="form-control" id="sel1" name="department"
											th:field="*{department}">
											<option value="" selected="selected">..Select
												Department..</option>
											<option th:value="nivesha" th:text="निवेशा"></option>
											<option th:value="aastapana" th:text="आस्थापनावदेयक"></option>
											<option th:value="niyantran" th:text="नियंत्रण"></option>
											<option th:value="arap-10" th:text="अराप"></option>
											<option th:value="nondani" th:text="नोंदणी"></option>
										</select>
									</div>
									<div class="form-group">
										<select class="form-control" id="sel1" name="designation"
											th:field="*{designation}">
											<option value="" selected="selected">..Select
												Designation..</option>
											<option th:value="pao" th:text="PAO"></option>
											<option th:value="record" th:text="RECORD"></option>
											<option th:value="sanction-officer" th:text="SECTION-OFFICER"></option>
											<option th:value="assi-sanction-officer"
												th:text="ASSI-SECTION-OFFICER"></option>
											<option th:value="clerk" th:text="CLERK"></option>
										</select>
									</div>
									<div class="form-group">
										<input type="password" class="form-control"
											placeholder="Password" name="password" th:field="*{password}" />
									</div>
									<div>
										<button name="submit" type="submit"
											class="btn login-form__btn submit w-100">Sign In</button>
									</div>

								</form>
								<p class="mt-5 login-form__footer">
									Change Your Password <a th:href="@{/loginForm/pageRegister}"
										class="text-primary">Change Password</a>
								</p>
								<p class="mt-5 login-form__footer">
									<a href="page-register.html" class="text-primary">Change
										Password</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!--**********************************
        Scripts
    ***********************************-->
	<script src="../plugins/common/common.min.js"></script>
	<script src="../js/custom.min.js"></script>
	<script src="../js/settings.js"></script>
	<script src="../js/gleek.js"></script>
	<script src="../js/styleSwitcher.js"></script>
</body>
</html>





