.table a:not (.btn ) {
	color: #333;
}

.dropdown-toggle {
	padding-top: 3px;
	padding-bottom: 4px;
}

.dropdown-toggle, .dropdown-toggle:hover, .btn-light:not (:disabled ):not
	(.disabled ):active, .btn-light:not (:disabled ):not (.disabled ).active,
	.show>.btn-light.dropdown-toggle, .dropdown-menu.show, .dropdown-item,
	.dropdown-item:hover, .dropdown-item:focus {
	background-color: #fff;
	color: #333;
}

.select2-container .select2-selection--single {
	height: 34px !important;
}

.select2-container--default .select2-selection--single {
	/* border: 1px solid #ccc !important;  */
	border-radius: 0px !important;
}